<%= form_with(model: info_practice, local: true) do |form| %>
  <% if info_practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(info_practice.errors.count, "error") %> prohibited this info_practice from being saved:</h2>

      <ul>
      <% info_practice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
