:root{
  --default: #00364e;
}

.bottom-align-text {
  position: absolute;
  bottom: 0.3rem;
}

.bg-default {
    background-color: #172b4d!important
}

.bg-blue {
    background-color: #00bcd4!important
}

.bg-abu{
  background-color: rgba(23,43,77,.8);
}

.nav-fixed{
  position: fixed;
  z-index: 10;
  width:100%;
}

.card.no-shadow{
  box-shadow: unset !important;
}

.card-img-top {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.badge-warning {
    color: #ffd600;
    background-color: #fee6e0
}
.badge-warning[href]:focus,
.badge-warning[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #f93305
}

.paginate_button.page-item.active a{
  z-index: 1;
}

.carousel-image {
  display: block;
  height: 50vh;
  /* set min-width, allow images to set cell width */
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%)
}

.main-carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}

.icon-map-label{
  height: .8rem;
  width: .8rem;
  display: inline-flex;
  vertical-align: middle;
}

.jvectormap-tip{
  border: 0;
  background: unset !important;
  color: #212529 !important;
}
/* for error input */
/* .field_with_errors {
  @extend .control-group;
  @extend .error;

  display: inline-block;
} */
