<div class="header bg-secondary pt-7 pt-lg-8">
  <div class="container">
    <div class="header-body text-center">
      <div class="row justify-content-center">
        <div class="col">
          <%= yield :header_content %>
        </div>
      </div>
    </div>
  </div>
</div>
